// color
$white:				#ffffff;
$black:				#000000;
$blackLight:		rgba($black,.87);

$orange:			#ff9c00;
$totemPoleRed:		#9e0b0f;
$green:				#40c353;
$greenLight:		#8dc63f;

$gray: 				#cccccc;
$grayLight:			#f1f1f1;
$red: 				#990f16;